:root {
  --gold: goldenrod;
  --deepgold: #b3760c;
  --blue: #334bff;
  --deepblue: #000F89;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('/images/corkboard.jpg');
  background-size: cover;
}

#app-shell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: white;
  box-shadow: 0px 10px 20px black;
  margin-top: 40px;
  padding: 10px;
  width: 300px;
  text-align: center;
}

.photo {
  width: 100%;
}

#gallery-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid gray;
  margin: 50px;
  box-shadow: 10px 10px 10px black;
  width: 250px;
  height: 450px;
  transform:rotate(10deg);
  background-color: white;
}

#content {
  text-align: center;
  align-items: center;
}

#gallery-item-flipped {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 250px;
  height: 250px;
}

h3 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px 15px;
  line-height: 100%;
  height: 75px;
}

#description{ 
 padding: 15px;
}

p {
  padding-top: 5px;
  margin-bottom: 10px;
}

#push-pin {
  width: 80px;
  margin-top: -25px;
  margin-left: -15px;
}

#pins {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#push-pin1 {
  width: 80px;
  margin-top: -35px;
  margin-left: -25px;
}
#push-pin2 {
  width: 80px;
  margin-top: -35px;
  margin-right: -30px;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30pt;
  padding-top: 10px;
  text-wrap: wrap;
}

#like-btn {
  border: 1px solid var(--deepblue);
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  font-size: 12pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  background-image: linear-gradient(var(--blue),var(--deepblue));
}

#like-btn:active {
  transform: translateY(2px);
}